body, h1, h2, h3, h4, div, span, p, ul, li, ol, a, header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1em; }

body {
  background-color: #eeeeee; }

.home {
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-device-width: 768px) {
  .home {
    width: 100%; } }
html {
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  color: black;
  font-family: Lato, Helvetica;
  font-size: 14px; }

body, a, p, div, span, li {
  line-height: 1.5em; }

a, a:visited {
  color: #000077; }

.home-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #0f414f;
  color: #fafafa; }
  .home-header h1 {
    font-family: Lato, Helvetica;
    font-size: 14px;
    font-weight: lighter; }
  .home-header a, .home-header a:visited, .home-header a:focus, .home-header a:hover {
    font-family: Lato, Helvetica;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: #fafafa; }

@media screen and (max-device-width: 768px) {
  .home-header {
    padding: 5px;
    margin: 0; } }
.posts li {
  padding-bottom: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  list-style: none; }
  .posts li .post-link {
    font-weight: bold;
    font-size: 15.4px; }
  .posts li .post-date {
    font-size: 11.2px;
    color: #4d4d4d; }
