body {
  background-color: $themeBackground;
}

.home {
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-device-width: 768px) {
  .home {
    width: 100%;
  }
}