.home-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
  background-color: $headerBackground;
  color: $headerForeground;
  
  h1 {  
    font-family: $headerFontFamily;
    font-size: 1 * $baseFontSize;
    font-weight: lighter;
  }

  a, a:visited, a:focus, a:hover {

    font-family: $headerSiteFontFamily;
    font-size: 1.5 * $baseFontSize;
    font-weight: bold;
    text-decoration: none;

    color: $headerForeground;
  }
}

@media screen and (max-device-width: 768px) {
  .home-header {
    padding: 5px;
    margin: 0;
  }
}