$baseFontSize: 14px;

$themeBackground: #eee;
$mainForeground: #000;
$mainLinkForeground: #007;
$mainFontFamily: Lato, Helvetica;

$headerBackground: #0F414F;
$headerForeground: #FAFAFA;
$headerFontFamily: Lato, Helvetica;
$headerSiteFontFamily: Lato, Helvetica;

